@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'ir';
    src: url('../public/fonts/is-regular.woff2');
}

@font-face {
    font-family: 'ir-medium';
    src: url('../public/fonts/is-medium.woff2');
}

@font-face {
    font-family: 'ir-light';
    src: url('../public/fonts/is-light.woff2');
}

@font-face {
    font-family: 'ir-bold';
    src: url('../public/fonts/ir-bold.woff2');
}

@font-face {
    font-family: 'mo';
    src: url('../public/fonts/mo-medium.woff');
}

@font-face {
    font-family: 'mo-light';
    src: url('../public/fonts/mo-light.woff');
}

@font-face {
    font-family: 'mo-bold';
    src: url('../public/fonts/mo-bold.woff');
}

body {
    font-family: 'ir';
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2C3D4F;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2C3D4F;
}


.order-list {
    display: grid;
    grid-template-columns: 65px repeat(8, minmax(0, 1fr)) 65px
}

.ticket-list {
    display: grid;
    grid-template-columns: 65px repeat(9, minmax(0, 1fr))
}

* {}

@layer base {
    :root {
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}
