@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;


a {
    direction: rtl;
}

@layer utilities {
    .bg-red {
        @apply bg-gradient-to-r dark:from-red-500 dark:to-red-600 from-red-400 to-red-500
    }

    .bg-blue {
        @apply bg-gradient-to-r dark:from-blue-500 dark:to-blue-600 from-blue-400 to-blue-500
    }

    .bg-green {
        @apply bg-gradient-to-r dark:from-green-500 dark:to-green-600 from-green-400 to-green-500
    }

    .modal-input {
        @apply bg-gray-50 dark:bg-primary-900 dark:border-primary-800/50 dark:text-primary-100 h-12 rounded-xl border text-sm border-primary-50 outline-none text-primary-800 px-2.5
    }

    .shad-input-label {
        @apply text-xs text-primary-600 dark:text-primary-400 tracking-tight px-1.5 !important;
    }

    .shad-input {
        @apply shadow-none bg-transparent text-primary-700 dark:text-primary-100 placeholder:text-primary-400 h-12 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
    }

    .shad-type {
        @apply shadow-none border-none transition-none bg-transparent text-primary-700 dark:text-primary-100 placeholder:text-primary-400 h-12 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
    }

    .shad-input-icon {
        @apply bg-primary-900 placeholder:text-primary-600 border-primary-500 h-12 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
    }

    .shad-textArea {
        @apply bg-primary-900 placeholder:text-primary-600 border-primary-500 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
    }

    .shad-combobox-item {
        @apply data-[disabled=true]:pointer-events-none data-[disabled=true]:opacity-50 !important;
    }

    .shad-combobox-trigger {
        @apply h-12 !important;
    }

    .shad-select-trigger {
        @apply dark:bg-primary-900 border-none shadow-none bg-gray-50 dark:text-primary-100 text-primary-700 placeholder:text-primary-600 dark:border-primary-800 h-12 focus:ring-0 focus:ring-offset-0 !important;
    }

    .shad-select-content {
        @apply dark:bg-primary-900 bg-gray-50 border-primary-50 dark:border-primary-800 !important;
    }

    .shad-error {
        @apply text-red-400 dark:text-red-400 tracking-tighter text-xs px-1.5 mt-1 !important;
    }

    .mobile-nav button {
        @apply dark:focus:ring-transparent focus:ring-transparent !important
    }

    .text_800_100 {
        @apply text-primary-800 dark:text-primary-100
    }

    .text_700_200 {
        @apply text-primary-700 dark:text-primary-200
    }

    .checkbox-label {
        @apply cursor-pointer text-primary-700 text-sm font-medium dark:text-primary-200 peer-disabled:cursor-not-allowed peer-disabled:opacity-70 md:leading-none;
    }

    select {
        @apply hidden
    }
}

form input[type="checkbox"] {
    display: none !important;
}

@font-face {
    font-family: 'ir';
    src: url('../public/fonts/is-regular.woff2');
}

@font-face {
    font-family: 'ir-medium';
    src: url('../public/fonts/is-medium.woff2');
}

@font-face {
    font-family: 'ir-light';
    src: url('../public/fonts/is-light.woff2');
}

@font-face {
    font-family: 'ir-bold';
    src: url('../public/fonts/ir-bold.woff2');
}

@font-face {
    font-family: 'mo';
    src: url('../public/fonts/mo-medium.woff');
}

@font-face {
    font-family: 'mo-light';
    src: url('../public/fonts/mo-light.woff');
}

@font-face {
    font-family: 'mo-bold';
    src: url('../public/fonts/mo-bold.woff');
}

body {
    font-family: 'ir';
}

/* width
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #2C3D4F;
}

::-webkit-scrollbar-thumb:hover {
    background: #2C3D4F;
} 
*/



.order-list {
    display: grid;
    grid-template-columns: 65px repeat(8, minmax(100px, 1fr)) 65px
}

.ticket-list {
    display: grid;
    grid-template-columns: 65px repeat(9, minmax(0, 1fr))
}

@media screen and (min-width: 480px) {

    /* width */
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {}

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #333;

    }
}



* {}

@layer base {
    :root {
        --item1: #4ade80;
        --item2: #22d3ee;
        --item3: #818cf8;
        --item4: #fb7185;
        --item5: #fbbf24;
        --item6: #34d399;
        --item7: #a78bfa;
        --item8: #60a5fa;
    }

    .dark {
        --item1: #16a34a;
        --item2: #0891b2;
        --item3: #4f46e5;
        --item4: #db2777;
        --item5: #d97706;
        --item6: #0d9488;
        --item7: #7c3aed;
        --item8: #2563eb;
    }
}


.DialogContent {
    /* max-width: 900px; */
}

.header {
    grid-column: 2/3;
}

.sidebar {
    grid-column: 1/2;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, #3b82f6 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, #3b82f6);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
}

@keyframes l13 {
    100% {
        transform: rotate(1turn)
    }
}